
#examples/run_plummer.jl
examples/run_mestel.jl
examples/run_jacobians.jl

# Example output files
examples/figures
examples/mapping_tests/*.hf5
examples/*.txt
examples/*.hf5
examples/*.h5
examples/*.pdf


src/Utils/GridInversion.jl
src/Utils/ComputeEL_mp.jl

# very annoying OSX hidden files
*.DS_Store
